<style>
  h1{ font-size: 24px; color: #36f35b; } h3{ color: #e4275c; font-size: 18px; }
  blockquote{ padding: 16px; background-color: rgb(183, 251, 183); } p{ color:
  #121212 } p { color: #0f172a; }

</style>

<h1 class='title'>Olá, {{name}}!</h1>

<section>
  <h3>Opa! Temos boas notícias</h3>

  <p>Sua conta foi reativada pelos administradores. Estamos muito felizes por
    ter você de volta em nossa comunidade para contribuir e ajudar os
    aprendizado de todos</p>

  <p>Esperamos por você</p>
</section>