<style>
  .title{ font-size: 24px; color: #36f35b; } h3{ color: #e4275c; font-size:
  18px; } blockquote{ padding: 16px; background-color: rgb(183, 251, 183); } p{
  color: #121212 }

</style>

<h1 class='title'>Olá, {{name}}!</h1>

<h3>Infelizmente, não temos boas notícias 😔</h3>

<p>
  Sua conta acabou de ser desativada por nossos administradores. Segundo eles:
</p>

<blockquote>
  {{reason}}
</blockquote>

<p>
  Caso tudp seja um mal entendido, contate e nos conte o que aconteceu.
</p>

<p>Esperamos ainda poder encontrar você em nossa comunidade!</p>