<style>
  .title{ font-size: 24px; color: #121212; }

</style>

<h2 class='title'>Olá, {{name}}</h2>

<p>Sua senha foi alterado com sucesso!</p>

<p>Caso você não tenha feito isso, reset agora sua senha</p>