<style>
  .title{ font-size: 24px; color: #121212; } .reset-code{ font-size: 20px;
  color: #FF3366; letter-spacing: 4px; font-weight: 500; } p { color: #0f172a; }
</style>

<h2 class='title'>Hey {{name}}</h2>
<p>Foi solicitado a troca da senha da sua conta em nosso aplicativo</p>
<p>Para que você realizar a troca da senha insira o código no aplicativo e você
  poderá escolher uma nova senha</p>
<p class='reset-code'>
  {{code}}
</p>

<p>Se você não fez nenhuma solicitação de troca de senha, basta apenas ignorar
  este e-mail.</p>