<h2>Hey {{name}}</h2>
<p>Foi solicitado a troca da senha da sua conta em nosso aplicativo</p>
<p>Para que você realizar a troca da senha insira o código no aplicativo e você
  poderá escolher uma nova senha</p>
<p>
  {{code}}
</p>

<p>Se você não fez nenhuma solicitação de troca de senha, basta apenas ignorar
  este e-mail.</p>